/target
perf.data*
flamegraph.svg
rchess_game/target/*
*.epd
*.pgn
*.zip
dhat.*
cachegrind*.*
massif.*
*.rar
testpositions/*
*.bin
logs/*
test.log
gdb.log
benchmark.txt
mnist/*
test*.py
*.png
tables/*
training_data/*
*.zst
reference/*
h2h.txt
matrix.csv
*.orig
paramsets/*
*.nnue
c_testing/test
c_testing/test2
oprofile_data/*
OpenBench/*
panic.log
out_*.log
.idea/*
tuning_logs/*
*.dump
engines-test.json
