/target
perf.data*
flamegraph.svg
rchess_game/target/*
*.epd
*.pgn
*.zip
dhat.*
cachegrind.*
massif.*
*.rar
testpositions/*
*.bin
logs/*
test.log
gdb.log
benchmark.txt
mnist/*
test*.py
*.png
tables/*
training_data/*
*.zst
reference/*
h2h.txt
matrix.csv
*.orig
paramsets/*
*.nnue
c_testing/test
